
@import "tailwindcss";



/* CSS variables */
:root {
  --background: #f5f5f5;
  --foreground: #111111;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Card */
.card {
  @apply bg-white dark:bg-neutral-900 rounded-xl shadow-md;
}

/* Inputs */
.input {
  @apply w-full rounded-md border border-gray-300
    bg-white text-black
    px-3 py-2
    placeholder-gray-400
    focus:outline-none
    focus:ring-2 focus:ring-black
    dark:bg-neutral-800 dark:text-white
    dark:border-neutral-700
    dark:placeholder-neutral-400;
}

/* Buttons */
.btn {
  @apply bg-black text-white px-4 py-2 rounded-md
    hover:bg-gray-800 transition
    disabled:opacity-50 disabled:cursor-not-allowed;
}

.btn-outline {
  @apply border border-gray-300 px-4 py-2 rounded-md
    hover:bg-gray-100 transition
    dark:border-neutral-700 dark:hover:bg-neutral-800;
}
